<center><h2>О НАШЕЙ КОМПАНИИ</h2></center>

<center><h3>{{ short_info.text_about }}</h3></center>

<br />

{% for item in info_item %}

	<b>{{ item.info_name }}</b> - {{ item.info_description }}<br />

{% endfor %}

<br />

<h1>НАШИ УСЛУГИ</h1>

{% for item in service %}

	<h2>{{ item.name }}</h2>

	<h4>{{ item.short_desc }}</h4>

	{{ item.description }}

{% endfor %}<br />


<table>
	<tr>
		<th>Наименование работ</th><th>Стоимость</th>
	</tr>
	{% for key,value in combined.items %}
	
	{% endfor %}
</table>

